{% extends 'base.html' %} {% block head %}
<title>OP Episoder | Hakkında</title>
{% endblock head %}

{% block body %}

<br>

<div class="row">

    <div class="col-2">
    </div>

    <div class="col-8 text-center">
    <p>
        Sevgili "One Piece" hayranları,<br><br>

        Bu site, "One Piece" adlı popüler anime dizisinin bölümlerini kolaylıkla indirmenize yardımcı olmak amacıyla kurulmuştur. Amacım, bu harika seriyi sevenlere en iyi deneyimi yaşatmak için elinden geleni yapmaktır. <br><br>
        
        Kullanıcılarımızın güvenliği ve gizliliği, en önemli önceliklerimiz arasındadır. Bu nedenle, kişisel bilgilerinizi korumak için gerekli önlemleri alıyoruz ve kesinlikle üçüncü taraflarla paylaşmıyoruz. <br><br>
        
        Eğer sitemizle ilgili herhangi bir sorunuz veya öneriniz varsa, lütfen bize ulaşın. Sizlerden gelecek geri bildirimler, sitemizi daha da iyileştirmemize yardımcı olacaktır.<br><br>
        
        "One Piece" dünyasına hoş geldiniz ve keyifli indirmeler dileriz!<br>
        <strong>"Kaizoku Ou Ni Ore Wa Naru"</strong>
    </p>
    </div>

    <div class="col-2">
    </div>
</div>

<div style="margin-bottom: 30px;" class="text-center">
    <img style="width: 50%;" src="static/one_piece_1000.jpg" alt="One Piece">
</div>

{% endblock body %}